<head>

    <title>Itune API Integration</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">

</head>

<body>



    <!--Search-->

    <!-- <div class="form-group row">
        <label for="search" class="col-sm-4 col-form-label pr-4" style="color: black">Search:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="search" value="">
        </div>
    </div> -->

    <!-- Album 1 or more-->

    <!-- <div class="form-group row">
        <label for="album" class="col-sm-4 col-form-label pr-4" style="color: black">Search Album:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="album" value="">
        </div>
    </div> -->

    <!--Artist 1 or more-->
    <!-- <div class="form-group row">
        <label for="artist" class="col-sm-4 col-form-label pr-4" style="color: black">Search
            Artist:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="artist" value="">
        </div>
    </div> -->

    <div class="form-group row col-sm-4 offset-4">
        <input type="button" class="form-control btn-primary" style="cursor:pointer" value="Submit seach"
            onclick="test();">
        <br><br>
        <input type="button" class="form-control btn-primary" style="cursor:pointer" value="Submit album"
            onclick="test2();">
        <br><br>
        <input type="button" class="form-control btn-primary" style="cursor:pointer" value="Submit artist"
            onclick="test3();">
        <br><br>
    </div>


    <script>

        var temp;

        function test() {

            // var url = "http://localhost/Itunes_Api_Integration%20-%20PHP/router/router.php";
            var url = "http://localhost/Itunes_Api_Integration%20-%20PHP/router/router.php";

            var data = {
                op: "search",
                term: "jack johnson"

            };

            $.ajax({
                url: url,
                type: 'post',
                async: true,
                data: data,
                success: function (response) {
                    console.log('return from server');
                    console.log(JSON.parse(response));
                    temp = JSON.parse(response);
                }
            });
        };


        var temp_2;
        function test2() {

            // Paul Van Dyk unlimited
            var url = "http://localhost/Itunes_Api_Integration%20-%20PHP/router/router.php";
            
            // var url = "http://localhost:3001/getAlbums?id=6505474&entity=album&limit=1";// Paul Van Dyk with at least 1

            var data = {
                op: "getAlbums",
                id: "6505474",
                entity: "album"
            }

            $.ajax({
                url: url,
                type: 'post',
                async: true,
                data: data,
                success: function (response) {
                    console.log('return from server');
                    console.log(JSON.parse(response));
                    temp_2 = JSON.parse(response);
                }
            });

        }

        var temp_3;
        function test3() {

            // var url = "http://localhost:3001/getArtists?amgArtistId=468749,5723,224667";// JJ,U2,PVD
            var url = "http://localhost/Itunes_Api_Integration%20-%20PHP/router/router.php";// PVD
            //amgArtistId=224667

            var data = {
                op: "getArtists",
                amgArtistId: "224667"
            }

            $.ajax({
                url: url,
                type: 'post',
                async: true,
                data: data,
                success: function (response) {
                    console.log('return from server');
                    console.log(JSON.parse(response));
                    temp_3 = JSON.parse(response);

                }
            });

        }

    </script>
</body>