<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">
    <style>
        #mainBody {
            background: url(server/img/halls/hall_a.jpg) no-repeat fixed;
            -webkit-background-size: cover;
            background-size: cover;
        }
    </style>

</head>
<?php include_once("server/helpers/navigator.html") ?>



<body id="mainBody">

    <script src="server/js/redirector.js"></script>

</body>