<head>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="server/css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="inner">
            <h1>Welcome!</h1>
            <div id="initDiv">
                <lagend style="color: white;">Enter your credentials</lagend><br>
                <label><span class="glyphicon glyphicon-user"></span></label>
                <input type="text" placeholder='First Name' class="input" id="firstName" />
                <br>
                <label><span class="glyphicon glyphicon-user"></span></label>
                <input type="password" placeholder="Last Name" class="input" id="lastName" />
                <br>
                <button class="button" id="initBtn">Sign in</button>
            </div>
        </div>
    </div>
    <script src="./server/js/initLogin.max.js"></script>
    <script src="./server/js/inputValidator.max.js"></script>
    <script src="./server/js/encryptor.js"></script>
    <script src="server/js/encryptorHelper.max.js"></script>
</body>