<head>
    <title>
        Main Lobby
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">

</head>
<?php include_once("server/helpers/navigator.html") ?>

<body>
    <img src="server/img/main_lobby_2.jpg" alt="mainLobby" usemap="#mainLobby" style="max-height: auto; max-width: 100%" />

    <map name="mainLobby" id="mainLobby">

        <!-- CARD -->
        <area shape="circle" coords="57, 513, 50" alt="agenda" id="agenda" onclick="showAgenda();" style="cursor: pointer;" href="#">

        <!-- Redirect -->
        <area shape="circle" coords="375, 362, 50" alt="hallA" id="hallA" onclick="rdr(this.id);" style="cursor: pointer;">
        <area shape="circle" coords="635, 385, 50" alt="hallB" id="hallB" onclick="rdr(this.id);" style="cursor: pointer;">
        <area shape="circle" coords="877, 407, 50" alt="hallC" id="hallC" onclick="rdr(this.id);" style="cursor: pointer;">
        <area shape="circle" coords="1080, 435, 50" alt="hallD" id="hallD" onclick="rdr(this.id);" style="cursor: pointer;">
        <area shape="circle" coords="462, 697, 75" alt="lounge" id="lounge" onclick="rdr(this.id);" style="cursor: pointer;">
        <area shape="circle" coords="1755, 510, 70" alt="exhibition" id="exhibition" onclick="rdr(this.id);" style="cursor: pointer;">

        <!-- CAROUSEL -->
        <area shape="circle" coords="1190, 250, 70" alt="eposter" id="eposter" onclick="showCarousel();" style="cursor: pointer;" href="#">

    </map>

    <script src="server/js/redirector.js"></script>
    <script src="server/js/imageMapResizer.min.js"></script>
    <script>
        $(document).ready(function() {
            $('map').imageMapResize();
        });
    </script>

</body>