<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="girit" translate="label" sortOrder="10000">
            <label>Girit</label>
        </tab>
        <section id="girit" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Run Task</label>
            <tab>girit</tab>
            <resource>Girit_RunTask::girit</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Girit Magento2 Home Task </label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="head_snippet" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Head Snippet</label>
                </field>

                <field id="body_snippet" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Body Snippet</label>
                </field>

            </group>
        </section>
    </system>
</config>
